<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<!-- Targets -->
	<targets>
		<!-- Console target -->
		<target xsi:type="Console" name="console" />

		<!-- File target -->
		<target xsi:type="File" name="file" fileName="C:/temp/SaviLog.txt" layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}" />
	</targets>

	<!-- Rules to map loggers to targets -->
	<rules>
		<!-- All logs to the console -->
		<logger name="*" minlevel="Trace" writeTo="console" />

		<!-- All logs to the file -->
		<logger name="*" minlevel="Trace" writeTo="file" />
	</rules>
</nlog>
